body {
    font-family: 'SpoqaHanSansNeo-Regular';
}

/* reset */

* {
    margin: 0;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

/* login-box */

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 240px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    margin: 200px auto;
}

.logo {
    height: 40px;
    margin-bottom: 28px;
}

.login-txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: black;
    margin-bottom: 32px;
}

.login-button {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    padding: 17px 189px 15px 190px;
    background-color: #2F80ED;
    border-radius: 5px;
}