@font-face {
    font-family: 'UhBeeSeulvely';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

body {
    margin: 0;
    bottom: 0;
    font-family: 'UhBeeSeulvely';
}

p {
    font-size: 16px;
    font-family: 'UhBeeSeulvely';
}

/* header */

.year {
    padding-left: 30px;
    font-size: 40px;
}

.lesson {
    font-size: 20px;
    color: lightcoral;
}

/* main */

table {
    position: relative;
    height: 250px;
    text-align: center;
    margin: 300px auto;
}

.title {
    background-image: url(image/bang_ham.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    margin: 20px;
}

.year {
    text-align: start;
}

.lesson {
    position: absolute;
    top: 0;
    right: 0;
}



tr th {
    color: coral;
    font-weight: 700;
}

th,
td {
    width: 30px;
}

tbody {
    height: 40px;
}

tr td:nth-child(1),
tr td:nth-child(9),
tr td:nth-child(17) {
    color: red;
}

tr td:nth-child(7),
tr td:nth-child(15),
tr td:nth-child(23) {
    color: blue;
}

.main {
    width: 1000px;
    display: grid;
    grid-template-rows:  auto auto auto;
    margin: 0 auto;
  }