@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* reset */
* {
    margin: 0;
}

body {
    font-family: 'SpoqaHanSansNeo-Regular';
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

button:focus,
button:active,
input:focus,
input:active {
    outline: none;
    box-shadow: none;
}

button {
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button,
input {
    font-family: 'SpoqaHanSansNeo-Regular';
}

.login-main {
    width: 520px;
}

/* header */

.header {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 26px;
}

.h-txt {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #000000;
    text-align: center;
    padding: 19px 0 18px 0;
}

/* main */

.main-txt {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 24px;
}

.login-form .id,
.login-form .pw {
    padding: 15px 0 15px 0;
    width: 472px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.login-form .id {
    margin-bottom: 10px;
}

.login-form .pw {
    margin-bottom: 17px;
}

.keep {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #767676;
    margin-bottom: 21px;
}

.login-button {
    width: 472px;
    height: 50px;
    border-radius: 5px;
    background-color: #2F80ED;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.22;
    color: #fff;
}

.join, .find {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    color: #767676;
    text-align: center;
}

/* footer */